<mat-toolbar color="primary">
  <span routerLink="/">MyNotes</span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a
        mat-button
        routerLink="/"
        routerLinkActive="mat-accent"
        [routerLinkActiveOptions]="{ exact: true }"
        >Post</a
      >
    </li>
    <li *ngIf="isLoggedIn">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >Create</a
      >
    </li>
    <li *ngIf="!isLoggedIn">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="isLoggedIn">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
