mat-form-field,
textarea {
  width: 100%;
}
mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.filePicker {
  margin: 1rem 0;
}

.image-prev {
  margin: 1rem 0;
  height: 8rem;
  img {
    height: 100%;
  }
}
